<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="instances" type="GeekTool.InstancesHandler, GeekTool" />
	</configSections>

	<appSettings >
		<add key="logFileName" value="log.txt" />
	</appSettings>

	<instances>
		<instance name="group1"
			xPos="-600"
			yPos="0"
			width="600"
			height="800"
			opacity="100"
			backgroundColor="200,200,255"
			fontColor="255,255,255"
			fontFamily="Courier New"
			fontSize="10"
			timerInterval="5000"
			fileName="c:\utility\pstools\pslist.exe"
			fileArgs="-t"
			isLocked="false"
			displayRegex="^(Name\s+Pid\s+Pri\s+Thd\s+Hnd\s+VM\s+WS\s+Priv)|(\s*([a-zA-Z]+)\s+(\d+)\s+\d+\s+\d+\s+\d+\s+\d+\s+\d+\s+\d+\s*)$"
			isRegexCaseSensitive="false" 
			displayTemplate="{0}\n"
			displayCharsToReplaceRegex="\n|\r" />

		<instance name="group2"
			xPos="0"
			yPos="0"
			width="600"
			height="800"
			opacity="100"
			backgroundColor="200,0,255"
			fontColor="255,255,255"
			fontFamily="Courier New"
			fontSize="10"
			timerInterval="3000"
			fileName="c:\utility\pstools\pslist.exe"
			fileArgs="-t"
			isLocked="false"
			displayRegex="^(Name\s+Pid\s+Pri\s+Thd\s+Hnd\s+VM\s+WS\s+Priv)|(\s*([a-zA-Z]+)\s+(\d+)\s+\d+\s+\d+\s+\d+\s+\d+\s+\d+\s+\d+\s*)$"
			isRegexCaseSensitive="false"
			displayTemplate="{0}\n"
			displayCharsToReplaceRegex="\n|\r" />
	</instances>
</configuration>